# Write Examples code for concatenation

In [1]:
# Concatenating two strings
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [2]:
# Concatenating two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

# Write one Examples for each formatting techniques

In [3]:
Name="Dhanush"
age=19
formatted_string = "Name: %s, Age: %d" % (Name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Dhanush, Age: 19

In [4]:
name = "John"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is John and I am 25 years old.

In [5]:
name = "ravi"
age = 23
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is ravi and I am 23 years old.

# Go Through Reference site and apply various options into formatting techniques

In [6]:
from string import Template
template = Template("Name: $name, Age: $age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: ravi, Age: 23

In [7]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: ravi, Age: 23

# Write example for each arithmetic operators

In [8]:
num1=14
num2=7

In [9]:
#Addition
summ=num1+num2
print("Addition:",summ)

Addition: 21

In [10]:
#Subtraction
sub=num2-num1
print("subtraction:",sub)

subtraction: -7

In [11]:
#Multiplication
mul=num1*num2
print("Multiplication:",mul)

Multiplication: 98

In [12]:
#Division
div=num2//num1
print("Division:",div)

Division: 0

In [20]:
#Modulus
mod=num2%num1
print("Modulus:",mod)

Modulus: 7

In [14]:
#Exponentiation
exp=num1**num2
print("Exponentiation:",exp)

Exponentiation: 105413504

In [15]:
#floor Division
floor_division=num1//num2
print("floor Division:",floor_division)

floor Division: 2

# Write Example for assignment operators (except: = & +=)

In [16]:
num=45

In [17]:
num-=1
print("After subtraction assignment: ",num)

After subtraction assignment:  44

In [18]:
num*=2
print("After multiplication assignment:", num)

After multiplication assignment: 88

In [19]:
num/=9
print("After division assignment:", num)

After division assignment: 9.777777777777779